@page "/teams"
<div class="main">
<div class="wrapper">
    <h1>Команда DF</h1>
    <img src="img/teams/1.jpg" style="max-width: 100%;
                                          height: auto; display: block;
                                                            margin-left: auto;
                                                            margin-right: auto ">
    <h5>
        ☀ Привет, дорогой друг 👋🏻
        Уже успел соскучиться по любимой команде ⒹⒻ ЦЕНТР МОЛОДЕЖНЫX ПРОЕКТОВ DРУГОЙ FОРMAT ?

        Влетаем в новый творческий сезон со свежими силами и огромным желанием удивлять и радовать вас ещё больше, чем прежде 😍

        🔻 ЛЕТО ДАЛО НАМ рестайлинг / обновление:
        - апгрейд команды DF
        - детализованный подход и внедрение новых практик в команду;
        - доступность участия и улучшенный сервис для участников;
        - расширенный доступ знакомства и лёгкость в подаче заявок (следите за новостями);
        - боевой настрой на новые проекты.

        🔻Пусть этот сезон 2021-2022 будет ярким и незабываемым!!

        💞 Спасибо, Муза, за два новых проекта 🙏🏼
        (вся информация доступна на странице)

        Скоро мы вновь увидимся 👋🏼

        ⒹⒻ лучшая команда организаторов 👑👑👑👑👑
        ⒹⒻ DругойFормат#dругойfормат#df#ⒹⒻ
        #самыелучшие#самыетворческие#самыеклёвые❤ #самыелюбимые #командаⒹⒻ 💞 #DругойFормат
        #вышетолькосолнце☀☀☀ #вышенастолькозвёзды🌟 🌟🌟

        Наш ресурс неиссякаем 🔥🔥🔥🔥🔥
        Мы больше, чем команда - мы творческая семья💕

        Благодарим Вас за то, что Вы с Нами 🥳
        C 💞 команда [Dругой Fормат] ⒹⒻ
        Россия, Барнаул
    </h5>
</div>
</div>



@code {


List<string> Images = new() {
        "https://static.tildacdn.com/tild3261-3530-4664-b537-383035393266/-/resize/504x/DSCF6661.jpg",
    "https://static.tildacdn.com/tild3261-3530-4664-b537-383035393266/-/resize/504x/DSCF6661.jpg",
    "https://static.tildacdn.com/tild3261-3530-4664-b537-383035393266/-/resize/504x/DSCF6661.jpg",
    "https://static.tildacdn.com/tild3261-3530-4664-b537-383035393266/-/resize/504x/DSCF6661.jpg",
    "https://static.tildacdn.com/tild3261-3530-4664-b537-383035393266/-/resize/504x/DSCF6661.jpg",
};
}